Ali Ghayoor <ali-ghayoor@uiowa.edu> Ali Ghayoor <aghayoor@dendrite.psychiatry.uiowa.edu>
Andras Lasso <lasso@queensu.ca>
Andrey Fedorov <fedorov@bwh.harvard.edu>
Chris Filo Gorgolewski <chris.gorgolewski@gmail.com>
Daniel <daniel-langstraat@uiowa.edu>
Dave Welch <david-welch@uiowa.edu> Dave Welch <david.m.welch@gmail.com>
Dave Welch <david-welch@uiowa.edu> David M Welch <dmwelch@healthcare.uiowa.edu>
Dave Welch <david-welch@uiowa.edu> David Welch <david.m.welch@gmail.com>
Dave Welch <david-welch@uiowa.edu> David Welch <dmwelch@healthcare.uiowa.edu>
David Ellis <david-ellis@uiowa.edu>
Hans J. Johnson <hans-johnson@uiowa.edu>
Hans Johnson <hans.j.johnson@gmail.com>
Hans Johnson <johnsonhj@helium-login-0-2.local>
Ipek Oguz <ioguz@helium-login-0-0.local>
Ipek Oguz <ioguz@helium-login-0-1.local>
Jean-Christophe Fillion-Robin <jchris.fillionr@kitware.com>
Jessica Forbes <jessica-forbes@uiowa.edu>
Jon Pipitone <jon@pipitone.ca>
Joseph Snyder <joe.snyder@kitware.com>
Joy Matsui <joy-matsui@uiowa.edu>
Julien Finet <julien.finet@kitware.com>
Karen Pease <karen-pease@uiowa.edu>
Kent Williams <norman-k-williams@uiowa.edu>
Regina Kim <eunyoung-kim@uiowa.edu> Kim <eunyokim@compute-10-242.local>
Regina Kim <eunyoung-kim@uiowa.edu> Kim <eunyokim@compute-12-328.local>
Regina Kim <eunyoung-kim@uiowa.edu> Kim <eunyokim@compute-14-405.local>
Regina Kim <eunyoung-kim@uiowa.edu> Kim <eunyokim@helium-login-0-1.local>
Regina Kim <eunyoung-kim@uiowa.edu> Kim <eunyokim@helium-login-0-2.local>
Mark Scully <mark-scully@uiowa.edu>
Mark Scully <msscully@bloch.psychiatry.uiowa.edu>
Norman Williams <williamsnk@helium-login-0-2.local>
Regina Kim <eunyoung-kim@uiowa.edu> Regina Kim <eunyoung.regina.kim@gmail.com>
Regina Kim <eunyoung-kim@uiowa.edu> ReginaKim <eunyoung.regina.kim@gmail.com>
Regina Kim <eunyoung-kim@uiowa.edu> eunyoung kim <eunyoung.regina.kim@gmail.com>
Regina Kim <eunyoung-kim@uiowa.edu> eunyoung kim <eunyoungkim@eunyoung-kims-iMac.local>
Regina Kim <eunyoung-kim@uiowa.edu> eunyoung regina kim <reginaeunyoungkim@gmail.com>
fbudin69500 <fbudin@unc.edu>
jessicaforbes <jessica-forbes@uiowa.edu>
lwen <wen.li.phd@gmail.com>
Steve Pieper <pieper@isomics.com>
ajjl <ajjleinoff@gmail.com>
Brian Avants <stnava@gmail.com>
Brian Avants <stnava@gmail.com> brian avants <stnava@gmail.com>
Brian Avants <stnava@gmail.com> BBAvants <stnava@gmail.com>
Brian Avants <stnava@gmail.com> stnava <stnava@gmail.com>
Brian Avants <stnava@gmail.com> b avants <stnava@gmail.com>
Nick Tustison <ntustison@gmail.com>
Nick Tustison <ntustison@gmail.com> ntustison <ntustison@gmail.com>
Nick Tustison <ntustison@gmail.com> ntustison <ntustison@wustl.edu>
Hans J. Johnson <hans-johnson@uiowa.edu>
Hans J. Johnson <hans-johnson@uiowa.edu> Hans Johnson <hans-johnson@uiowa.edu>
Hans J. Johnson <hans-johnson@uiowa.edu> hjmjohnson <hans.j.johnson@gmail.com>
Jeffrey Duda <jeff.duda@gmail.com>
Jeffrey Duda <jeff.duda@gmail.com> Jeff Duda <jeff.duda@gmail.com>
Jeffrey Duda <jeff.duda@gmail.com> Jeff Duda <jeff.jones@gmail.com>
Ben Kandel <bkandel@seas.upenn.edu>
Ben Kandel <bkandel@seas.upenn.edu> bkandel <bkandel@seas.upenn.edu>
Ben Kandel <bkandel@seas.upenn.edu> bkandel <bkandelemail-github@yahoo.com>
Gang Song <songgang@seas.upenn.edu>
Paramveer Dhillon <dhillon@cis.upenn.edu>
Paramveer Dhillon <dhillon@cis.upenn.edu> paramveerdhillon <dhillon@cis.upenn.edu>
Kent Williams <norman-k-williams@uiowa.edu>
Kent Williams <norman-k-williams@uiowa.edu> chaircrusher <norman-k-williams@uiowa.edu>
Philip Cook <cookpa@mail.med.upenn.edu>
Philip Cook <cookpa@mail.med.upenn.edu> Phil Cook <philbert26@gmail.com>
Yaroslav Halchenko <debian@onerussian.com>
Baohua Wu <baowu99@gmail.com>
Michael Stauffer <mstauff@verizon.net>
Ali Ghayoor <ali-ghayoor@uiowa.edu>
Craig Stark <cestark@uci.edu>
adrienkaiser <adrien.kaiser@hotmail.fr>
hwang3 <hwang3@picsl-build.uphs.upenn.edu>
Chris Filo Gorgolewski <chris.gorgolewski@gmail.com>
Niels van Strian <n.vanstrien@gmail.com>
Andrey Fedorov <fedorov@bwh.harvard.edu>
Paul Yushkevich <pyushkevich@gmail.com>
