[project]
	description = A suite of tools for medical image processing focused on brain analysis
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hans Johnson (hjmjohnson)
[access "refs/for/refs/*"]
	read = group user/Hans Johnson (hjmjohnson)
	push = group user/Hans Johnson (hjmjohnson)
	label-Code-Review = -2..+2 group user/Hans Johnson (hjmjohnson)
	label-Verified = -1..+1 group user/Hans Johnson (hjmjohnson)
	rebase = group user/Hans Johnson (hjmjohnson)
	removeReviewer = group user/Hans Johnson (hjmjohnson)
	submit = group user/Hans Johnson (hjmjohnson)
[access "refs/heads/*"]
	read = group user/Hans Johnson (hjmjohnson)
	create = group user/Hans Johnson (hjmjohnson)
	push = +force group user/Hans Johnson (hjmjohnson)
	pushMerge = group user/Hans Johnson (hjmjohnson)
[access "refs/tags/*"]
	push = +force group user/Hans Johnson (hjmjohnson)
	createTag = group user/Hans Johnson (hjmjohnson)
	createSignedTag = group user/Hans Johnson (hjmjohnson)
