[AtlasDescription]
t1 =      /IPLlinux/ipldev/scratch/eunyokim/src/BRAINSStandAlone/buildAnyTesting/BRAINSTools-build/ExternalData/TestData/template_t1.nii.gz 
rho =     /IPLlinux/ipldev/scratch/eunyokim/src/BRAINSStandAlone/buildAnyTesting/BRAINSTools-build/BRAINSCut/TestSuite/TestSuite/TestOutput/rho.nii.gz 
phi =     /IPLlinux/ipldev/scratch/eunyokim/src/BRAINSStandAlone/buildAnyTesting/BRAINSTools-build/BRAINSCut/TestSuite/TestSuite/TestOutput/phi.nii.gz 
theta =   /IPLlinux/ipldev/scratch/eunyokim/src/BRAINSStandAlone/buildAnyTesting/BRAINSTools-build/BRAINSCut/TestSuite/TestSuite/TestOutput/theta.nii.gz 

[ListFiles]
subjectListFilename  = /IPLlinux/ipldev/scratch/eunyokim/src/BRAINSStandAlone/BRAINSStandAlone/BRAINSCut/Nipype/mainTest.csv
featureListFileDictionary = {'t2':'/IPLlinux/ipldev/scratch/eunyokim/src/BRAINSStandAlone/BRAINSStandAlone/BRAINSCut/Nipype/t2Test.csv'}
numberOfElementInSubset = [ 1,1,1 ]

[Options]
imageTypeToUse    = t1
#normalization     = ['Linear','zScore','Sigmoid_Q05']
normalization     = ['Linear','zScore']
gaussianSigma     = 1
modelParameter    = [ {'--method':'RandomForest','--numberOfTrees':10,'--randomTreeDepth':10},
                      {'--method':'RandomForest','--numberOfTrees':5,'--randomTreeDepth':5} ]
roiBooleanCreator = {'mask1':'true'
