[AtlasDescription]
atlasDir = /ipldev/scratch/eunyokim/src/BRAINSStandAlone/build_LongitudinalSegmentationPipelineTrial/ReferenceAtlas-build/Atlas/Atlas_20121120/
t1 =       template_t1.nii.gz
rho =      /spatialImages/rho.nii.gz
phi =      /spatialImages/phi.nii.gz
theta =    /spatialImages/theta.nii.gz

[FileDescriptions]
xmlFilename    = output.xml
vectorFilename = vectorfile.txt
modelFilename  = modelfile.txt

[ListFiles]
subjectListFilename  = test.csv
featureListFileDictionary = {'gadSG':'gadSGFeatureList.csv'}

[Options]
imageTypeToUse = T1
normalization  = Linear
roiBooleanCreator = {'l_accumben':'true',    'r_accumben':'true',
                     'l_caudate':'true',     'r_caudate':'true'
                    }

