[AtlasDescription]
t1 =       /ipldev/scratch/eunyokim/src/BRAINSStandAlone/build_LongitudinalSegmentationPipelineTrial/ReferenceAtlas-build/Atlas/Atlas_20121120/template_t1.nii.gz
rho =      /ipldev/scratch/eunyokim/src/BRAINSStandAlone/build_LongitudinalSegmentationPipelineTrial/ReferenceAtlas-build/Atlas/Atlas_20121120/spatialImages/rho.nii.gz
phi =      /ipldev/scratch/eunyokim/src/BRAINSStandAlone/build_LongitudinalSegmentationPipelineTrial/ReferenceAtlas-build/Atlas/Atlas_20121120/spatialImages/phi.nii.gz
theta =    /ipldev/scratch/eunyokim/src/BRAINSStandAlone/build_LongitudinalSegmentationPipelineTrial/ReferenceAtlas-build/Atlas/Atlas_20121120/spatialImages/theta.nii.gz

[ListFiles]
subjectListFilename  = /ipldev/scratch/eunyokim/src/BRAINSStandAlone/BRAINSStandAlone_BCutNipype/BRAINSStandAlone/BRAINSCut/Nipype/test.csv
featureListFileDictionary = {'GadSG':'/ipldev/scratch/eunyokim/src/BRAINSStandAlone/BRAINSStandAlone_BCutNipype/BRAINSStandAlone/BRAINSCut/Nipype/testGadFeatureList.csv'}

[Options]
imageTypeToUse = t1
normalization  = Linear
roiBooleanCreator = {'l_accumben':'true',    'r_accumben':'true',
                     'l_caudate':'true',     'r_caudate':'true'
                    }

