# The configuration file consists of sections, led by a [section] header and followed by name: value entries,
# with continuations in the style of RFC 822 (see section 3.1.1, ?~@~\LONG HEADER FIELDS");
#
# time python /scratch/PREDICT/johnsonhj/src/BRAINSStandAlone/AutoWorkup/baw_exp.py -processingLevel 2 -ExperimentConfig NewExperiment.config -pe HELIUM_ENVIRIONMENT
#
# The intent of this configuraiton file is to define all the information needed to completely run an experiment.
#
[EXPERIMENT_DATA]
#   A formatted csv file decribing the data sets one per line, where the different data types are listed in a dictionary.
#  'PROJECT,SUBJ,SESSION,"{'T1-30:['T1_1.nii.gz','T1_2.nii.gz'],'T2-30':['T2_1.nii.gz']}"
SESSION_DB=/ipldev/scratch/johnsonhj/PREDICT/ExpandedExperiment/small_test_case.csv
# The desired output directory for this experiment
EXPERIMENTNAME=B4AUTO.ExpandedExperiment
# Components of pipeline to run.  There are some branches of the workflow that are mostly for validation and experimentation.
#WORKFLOW_COMPONENTS=['BASIC','TISSUE_CLASSIFY','SEGMENTATION','FREESURFER','ANTS','AUXLMK']
WORKFLOW_COMPONENTS=['BASIC','TISSUE_CLASSIFY','ANTS','AUXLMK','FREESURFER']

[HELIUM_ENVIRIONMENT]
# Where to find Freesurfer base directory
_FREESURFER_HOME=/scratch/PREDICT/opt/freesurfer
_FREESURFER_PATH_EXT=%(_FREESURFER_HOME)s/bin:%(_FREESURFER_HOME)s/fsfast/bin:%(_FREESURFER_HOME)s/tktools:/opt/fsl/bin:%(_FREESURFER_HOME)s/mni/bin

_GRAPHVIZ_BIN_DIR=/scratch/PREDICT/opt/graphviz/bin
_ANTS_BIN_DIR=/scratch/PREDICT/johnsonhj/src/ANTS-gcc44/bin
_BRAINSTOOLS_BIN_PATH=/scratch/PREDICT/johnsonhj/src/BRAINSStandAlone-Linux64-gcc44
# The prefix to add to all image files in the $(SESSION_DB) to account
# for different file system mount points
MOUNTPREFIX=/scratch/PREDICT
# The base directory where all experiments of this type go
BASEOUTPUTDIR=/scratch/PREDICT/Experiments
#ENVIRONMENT_VARIABLES  This is mostly needed for freesurfer
CUSTOM_ENVIRONMENT={'FREESURFER_HOME':'/scratch/PREDICT/opt/freesurfer','DUMMY':'JustATestEnv'}
## The cluster queue to use for submitting jobs.
CLUSTER_QUEUE=-q all.q

############## -- You should not need to modify below here. ###########
# Where to find the Autoworkup scripts.
_BRAINSTOOLS_SCRIPTS=/scratch/PREDICT/johnsonhj/src/BRAINSStandAlone/AutoWorkup
# Where SimpleITK, required nipype, and other non-standard python packages reside
_NIPYPE_CUSTOM_PATH=/
PYTHON_AUX_PATHS=%(_BRAINSTOOLS_SCRIPTS)s:%(_NIPYPE_CUSTOM_PATH)s
# Where to find BRAINSTools
# Paths that need to be configured to find tools needed to run this workflow
PROGRAM_PATHS=%(_BRAINSTOOLS_BIN_PATH)s/lib:%(_BRAINSTOOLS_BIN_PATH)s/bin:%(_BRAINSTOOLS_SCRIPTS)s:%(_ANTS_BIN_DIR)s:%(_FREESURFER_PATH_EXT)s:%(_GRAPHVIZ_BIN_DIR)s
# The path to the reference atlas spact to be used in this analysis by all BRAINSTools
ATLASPATH=%(_BRAINSTOOLS_BIN_PATH)s/ReferenceAtlas-build/Atlas/Atlas_20120104
# The path to the model files to be used by BCD.
BCDMODELPATH=%(_BRAINSTOOLS_BIN_PATH)s/BRAINSTools-build/ExternalData/TestData
