[EXPERIMENT]
SESSION_DB_BASE=/Shared/johnsonhj/HDNI/20140219_AutoWorkupTest/scripts/edited_without_T2_PD_15s_predict_autoworkup_PREDICTHD.csv
SESSION_DB_TEMP=%(SESSION_DB_BASE)s
SESSION_DB_LONG=%(SESSION_DB_BASE)s

EXPERIMENT_BASE=ExpDateHere_ProjectNameHere_CanbeDeleted_base
EXPERIMENT_TEMP=ExpDateHere_ProjectNameHere_CanbeDeleted_temp
EXPERIMENT_LONG=ExpDateHere_ProjectNameHere_CanbeDeleted_long

EXPERIMENT_TEMP_INPUT=%(EXPERIMENT_BASE)s
EXPERIMENT_LONG_INPUT=%(EXPERIMENT_TEMP)s

WORKFLOW_COMPONENTS_BASE=['tissue_classify', 'auxlmk', 'segmentation']
WORKFLOW_COMPONENTS_TEMP=[]
WORKFLOW_COMPONENTS_LONG=['tissue_classify', 'auxlmk', 'segmentation']

BASE_OUTPUT_DIR=/Shared/sinapse/CACHE/
ATLAS_PATH=/Shared/sinapse/sharedopt/20140707/RHEL5/NAMIC-build/bin/Atlas/Atlas_20131115

[NIPYPE]
GLOBAL_DATA_SINK_REWRITE=False

[OSX]
CLUSTER=True
## The cluster queue to use for submitting "normal running" jobs.
QUEUE=-q ICTS,COE,UI
## The cluster queue to use for submitting "long running" jobs.
QUEUE_LONG=-q ICTS,COE,UI

QSTAT_IMMEDIATE=qstat
QSTAT_CACHED=qstat

## Necessary modules to load for jobs
MODULES=['python_2.7so','gcc_4.8.2']

###################################################################
## The QSTAT command for cached update of values
## ( to take load off of OGE server during heavy job usage )
##[ use 'qstat' if in doubt ]
# QSTAT_IMMEDIATE_EXE=/Shared/johnsonhj/HDNI/20140219_AutoWorkupTest/scripts/qstat_immediate.sh
# QSTAT_CACHED_EXE=/Shared/johnsonhj/HDNI/20140219_AutoWorkupTest/scripts/qstat_cached.sh

_GRAPHVIZ_BIN=/usr/bin/graphviz
VIRTUALENV_DIR=/Shared/sinapse/scratch/eunyokim/src/BAWPythonEnv_201409/venv

[RHEL5_local]
CLUSTER=False

## Necessary modules to load for jobs
MODULES=['python_2.7so','gcc_4.8.2']

###################################################################
## The QSTAT command for cached update of values
## ( to take load off of OGE server during heavy job usage )
##[ use 'qstat' if in doubt ]
# QSTAT_IMMEDIATE_EXE=/Shared/johnsonhj/HDNI/20140219_AutoWorkupTest/scripts/qstat_immediate.sh
# QSTAT_CACHED_EXE=/Shared/johnsonhj/HDNI/20140219_AutoWorkupTest/scripts/qstat_cached.sh

_GRAPHVIZ_BIN=/usr/bin/graphviz
VIRTUALENV_DIR=/Shared/sinapse/sharedopt/20140707/RHEL5/python_HD/

[RHEL5]
CLUSTER=True
## The cluster queue to use for submitting "normal running" jobs.
QUEUE=-q ICTS,COE,UI
## The cluster queue to use for submitting "long running" jobs.
QUEUE_LONG=-q ICTS,COE,UI

QSTAT_IMMEDIATE=qstat
QSTAT_CACHED=qstat

## Necessary modules to load for jobs
MODULES=['python_2.7so','gcc_4.8.2']

###################################################################
## The QSTAT command for cached update of values
## ( to take load off of OGE server during heavy job usage )
##[ use 'qstat' if in doubt ]
# QSTAT_IMMEDIATE_EXE=/Shared/johnsonhj/HDNI/20140219_AutoWorkupTest/scripts/qstat_immediate.sh
# QSTAT_CACHED_EXE=/Shared/johnsonhj/HDNI/20140219_AutoWorkupTest/scripts/qstat_cached.sh

_GRAPHVIZ_BIN=/usr/bin/graphviz
VIRTUALENV_DIR=/Shared/sinapse/sharedopt/20140707/RHEL5/python_HD/

[RHEL6]
_GRAPHVIZ_BIN=/usr/bin/graphviz
VIRTUALENV_DIR=/Shared/sinapse/sharedopt/20140707/RHEL6/python_HD/
CLUSTER=True
## The cluster queue to use for submitting "normal running" jobs.
QUEUE=-q COE,UI,all.q
## The cluster queue to use for submitting "long running" jobs.
QUEUE_LONG=-q COE,UI
MODULES=['python/2.7', 'gcc/4.8.2']


[DEFAULT]
# NAMICExternalProjects build tree
_BUILD_DIR=/Shared/sinapse/sharedopt/20140707/RHEL5/NAMIC-build/
_BRAINSTOOLS_BIN_DIR=%(_BUILD_DIR)s/bin
_SIMPLEITK_PYTHON_LIB=%(_BUILD_DIR)s/lib
_SIMPLEITK_PACKAGE_DIR=%(_BUILD_DIR)s/SimpleITK-build/Wrapping
_NIPYPE_PACKAGE_DIR=%(_BUILD_DIR)s/NIPYPE

############# -- Environmental Variables -- ###########
MOUNT_PREFIX=
MODULES=
QUEUE=
QUEUE_LONG=
QSTAT_IMMEDIATE=qstat
QSTAT_CACHED=qstat

_GRAPHVIZ_BIN=/usr/bin/graphviz
############## -- You should not need to modify below here. ###########
APPEND_PYTHONPATH=%(_NIPYPE_PACKAGE_DIR)s:%(_SIMPLEITK_PYTHON_LIB)s:%(_SIMPLEITK_PACKAGE_DIR)s
APPEND_PATH=%(_BRAINSTOOLS_BIN_DIR)s:%(_SIMPLEITK_PYTHON_LIB)s:%(_GRAPHVIZ_BIN)s
