## This file needs to be created for each failed case and passed as the first argument to the "FixBCDFailures.sh" script
#
# NOTE: variables that start with _ are convinence, and they are not used outside of this file


# -- The failed input image
INPUT_VOL=/Shared/sinapse/CACHE/20160521_TRACKON_base_CACHE/singleSession_000517510_000517510_20110502_30/N4BFC/mapflow/_N4BFC0/000517510_000517510_20110502_30_T1-30_3_N4_BFC.nii.gz

## -- Where the outputs chould be written to
_BASE_OUT_DIR=/Shared/johnsonhj/TrackOn/Experiments/FIXED_BCD_MANUAL
_PROJECT=HDNI_002
_SUBJECT=000517510
_SESSION=000517510_000517510_20110502_30
OUTPUT_DIR=${_BASE_OUT_DIR}/${_PROJECT}/${_SUBJECT}/${_SESSION}/ANONRAW

OUTPUT_FILENAME=${OUTPUT_DIR}/${_SUBJECT}_${_SESSION}.nrrd

# -- The following can be copied from the failing BCD command line
PROG_PATH=/scratch/johnsonhj/src/NEP-11/bin
_ATLAS_BASE_DIR=/Shared/sinapse/CACHE/20160521_TRACKON_base_CACHE/Atlas


# -- These often do not need to be changed
ATLAS_VOLUME=${_ATLAS_BASE_DIR}/template_t1.nii.gz
_BCD_MDLS_BASE_DIR=${_ATLAS_BASE_DIR}/20141004_BCD
LLS_MODEL=${_BCD_MDLS_BASE_DIR}/LLSModel_50Lmks.h5
TEMP_MODEL=${_BCD_MDLS_BASE_DIR}/T1_50Lmks.mdl

ATLAS_LMKS=${_BCD_MDLS_BASE_DIR}/template_landmarks_50Lmks.fcsv
ATLAS_LMKS_WTS=${_BCD_MDLS_BASE_DIR}/template_weights_50Lmks.wts
